.placeholder {
    height: 500px;
    width: 100%;
    background-color: aquamarine;
    font-size: 5vh;
}

.center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inverted {
    background-color: red;
}

.jumbotron {
    margin-bottom: 0;
}

#box {
    height:100px;
    width: 100px;
    background-color: black;
}

i {
    display: block;
    margin-top: 50px;
}

.navbar {
    background-color: rgb(211, 208, 208);
    opacity: 0.6;
}