.profileDiv {
    text-align: center;
}

.profileName {
    font-size: 18px;
}

.searchBar {
    margin-top: 15px;
    text-align: right;
}

.listItem {
    border: solid black 2px;
    padding: 4px;
    margin: 4px;
    padding-left: 9px;
    font-size: 20px;
}

input {
    max-width: 100%;
    margin: 5px;
}