<html>
<head>
    <link href="/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/auth/facebook/callback" id="A">Facebook Login</a>

    <!-- <form action="/login" method="post">
        <div>
            <label>email:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form> -->

</body>
</html>

<script>
let button = document.querySelector("#A")

button.addEventListener('click', ()=>{
    console.log('Button pressed')
})
</script>