<div class='container-fluid'>
<div class='row'>
    <div class='col-lg-6' style="padding:0 0 0 0">
<img src="./Pepperoni.jpg" alt='Pizza shop logo' class="img-fluid" style="border:2px solid black; height:500px; width:800px" />
    <img src="./hawaiian_pizza.jpg" alt='Pizza shop logo' class="img-fluid" style="border:2px solid black; height:500px; width:800px" />
    </div>
    <div class='col-lg-6' style="padding:0 0 0 0">
<img src="./four-cheese-pizza.jpg" alt='Pizza shop logo' class="img-fluid" style="border:2px solid black; height:500px; width:800px" />
<img src="./margharita.jpg" alt='Pizza shop logo' class="img-fluid" style="border:2px solid black; height:500px; width:800px" />

    </div>

</div>
</div>
    
    