<h1>Hello and welcome to Sam's Pizza parlour</h1>
    <img src="./samPizza.jpg" alt='Pizza shop logo'/>


<p>For the menu click <a href='/menu'>here</a></p>

<p>For a small gallery of images  click <a href='/gallery'>here</a></p>
