<h1>Here is our menu </h1>

<div class='row'>
    {{#each pizza}}
    <div class='col-sm-3'>
        <h1>Pizza</h1>
        <h3>Name:</h3>
        {{name}}
        <h3>Toppings:</h3>
        {{toppings}}
        <h3>Crust:</h3>
        {{crust}}
        <h3>Price: </h3>
        {{price}}
        <br />

    </div>
    {{/each}}
</div>