html {
    height: 100%;
}

body {
    background: #bbb;
    display: grid;
    margin: 0;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

header {
    display: flex;
    background-color: #4F628E;
    color: #fff;
    grid-column: 1/3;
}

header i {
    margin: auto 15px;
    font-size: 2em;
}

header h1 {
    margin: auto 5px;
    font-family: 'Pacifico', Arial, sans-serif;
    font-weight: 400;
}

#sidebar {
    background-color: #eee;
    display: flex;
    justify-content: start;
    flex-flow: column wrap;
}



input {
    border-radius: 5px;
}

#uploadButton {
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: #444;
    color: #fff;
}

#uploadSec {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#uploadSec div {
    background-color: #222;
    height: 40vh;
    width: 40vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

#uploadForm {
    margin: auto auto;
}

#uploadSec i {
    position: absolute;
    align-self: flex-start;
    justify-self: flex-end;
    width: 36vw;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

/*  */
/* Input field */
/*  */

input#upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    cursor: pointer;
}

input#upload + label, input#submit {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 0;
    background-color: #222;
    font-family: Arial, sans-serif;
    margin: 5px;
}

input#upload:focus + label,
input#upload + label:hover,
input#submit:hover,
input#submit:focus {
    background-color: #fff;
    color: #222;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

/*  */
/* showing uploaded folder */
/*  */

#body div {
    background-color: #888;
    margin: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    display: none;
}

#body div i, #body div a {
    display: inline-block;
    margin: 0 5px;
}

#body div a {
    text-decoration: none;
    color: #fff;
}

#body div i.fa-times-circle {
    float: right;
    cursor: pointer;
}